name: keydecoder
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  #cupertino_icons: ^0.1.3

  native_cv:
    path: './native_cv'

  moor_flutter: ^3.1.0 # https://pub.dev/packages/moor_flutter
  sqlite3_flutter_libs: ^0.2.0 # https://pub.dev/packages/sqlite3_flutter_libs
  json_annotation: ^3.1.0 # https://pub.dev/packages/json_annotation
  provider: ^3.2.0 # https://pub.dev/packages/provider
  path_provider: ^1.6.14 # https://pub.dev/packages/path_provider
  path: ^1.7.0 # https://pub.dev/packages/path
  image_picker: ^0.6.7+11 # https://pub.dev/packages/image_picker
  file_utils: ^0.1.4 # https://pub.dev/packages/file_utils
  keyboard_visibility: ^0.5.6 # https://pub.dev/packages/keyboard_visibility
  tuple: ^1.0.3 # https://pub.dev/packages/tuple
  matrix4_transform: ^1.1.5 # https://pub.dev/packages/matrix4_transform

  image_size_getter: ^0.2.1 # https://pub.flutter-io.cn/packages/image_size_getter
  image_metadata: ^1.0.1 # https://pub.dev/packages/image_metadata

  after_layout: ^1.0.7+2 # https://pub.dev/packages/after_layout

  #matrix_gesture_detector: ^0.1.0 # https://pub.dev/packages/matrix_gesture_detector
  #touchable: ^0.2.0 # https://pub.dev/packages/touchable
  #gesture_x_detector: # https://pub.dev/packages/gesture_x_detector

  flutter_slidable: ^0.5.7 # https://pub.dev/packages/flutter_slidable

  fluttericon: ^1.0.7 # https://pub.dev/packages/fluttericon
  community_material_icon: ^5.4.55 # https://pub.dev/packages/community_material_icon
  material_design_icons_flutter: ^4.0.5755 # https://pub.dev/packages/material_design_icons_flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

  moor_generator: ^3.3.1 # https://pub.dev/packages/moor_generator
  build_runner: ^1.10.2 # https://pub.dev/packages/build_runner

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
